<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .top-right {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    </style>
</head>
<body>
    <div class="top-right">
        {% if not request.session.get("user_id") %}
            <form action="/login" method="get">
                <button type="submit">Login</button>
            </form>
            <form action="/register" method="get" style="display:inline;">
                <button type="submit">Register</button>
            </form>
        {% else %}
            <span>Bem-vindo/a {{ request.session.get("username") }}! </span>
            <form action="/profile" method="get" style="display:inline;">
                 <button type="submit">Perfil</button>
            </form>
            <form action="/logout" method="post" style="display:inline;">
                <button type="submit">Logout</button>
            </form>
        {% endif %}
    </div>

    <h1>Bem-vindo ao Site de Leilões</h1>
    <form action="/products">
        <button type="submit">Ver Produtos</button>
    </form>
</body>
</html>

