<!-- app/templates/products.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Product's List</title>
    <style>
        .top-right {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    </style>
</head>
<body>
    <h1>Products</h1>
    <a href="/">Back Home</a><br><br>

    <form action="/products" method="get">
        <input type="text" name="q" placeholder="Search products..." value="{{ query | default('') }}">
        {% if finished %}
            <input type="hidden" name="finished" value="true">
        {% endif %}
        <button type="submit">Search</button>
    </form>

    <div class="top-right">
        {% if not finished %}
            <form action="/products" method="get">
                <input type="hidden" name="finished" value="true">
                <button type="submit">Show ended auctions</button>
            </form>
        {% else %}
            <form action="/products" method="get">
                <input type="hidden" name="finished" value="false">
                <button type="submit">Show on going auctions</button>
            </form>
        {% endif %}
        <form action="/products/new" method="get">
            <button type="submit">Announce here</button>
        </form>
    </div>

    <ul>
        {% for product in products %}
            <li>
                <a href="/products/{{ product.id }}?q={{ query }}{% if finished %}&finished=true{% else %}&finished=false{% endif %}">
                    <strong>{{ product.name }}</strong>
                </a><br>

                {% if product.photos %}
                    {% set first_photo = product.photos.split(";")[0] %}
                    {% if first_photo %}
                        <img src="{{ first_photo }}" style="max-width: 150px;"><br>
                    {% endif %}
                {% else %}
                    <img src="/static/default_img/default-product-img.jpg" alt="Default profile picture" style="max-width: 150px;"><br>
                {% endif %}

                {{ product.description }}<br>
                Starting value: {{ product.base_value }}€<br>

                {% if finished %}
                    The Auction finished on: {{ product.end_date_str }}
                {% else %}
                    Finish date: {{product.end_date_str}}<br>
                    Ends in: <span class="countdown" data-endtime="{{ product.end_date }}"></span>
                {% endif %}
            </li>
            <hr>
        {% endfor %}
    </ul>

    <script src="/static/js/countdown.js"></script>
</body>
</html>
