<!-- app/templates/products.html -->
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <style>
        .top-right {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    </style>
</head>
<body>
    <h1>Produtos disponíveis</h1>
        <form action="/products" method="get">
            <input type="text" name="q" placeholder="Pesquisar produtos..." value="{{ query | default('') }}">
            <button type="submit">Pesquisar</button>
        </form>
        <div class="top-right">
            <form action="/products/new" method="get">
                <button type="submit">Anuncie aqui</button>
            </form>
    </div>
    <ul>
        {% for product in products %}
            <li>
                <a href="/products/{{ product.id }}{% if query %}?q={{ query }}{% endif %}">
                    <strong>{{ product.name }}</strong><br>
                </a><br>
                {% if product.photos %}
                    {% set first_photo = product.photos.split(";")[0] %}
                    {% if first_photo %}
                        <img src="{{ first_photo }}" style="max-width: 150px;"><br>
                    {% endif %}
                {% else %}
                    <img src="/static/default_img/default-product-img.jpg" alt="Foto de Perfil Padrão" style="max-width: 200px;"><br>
                {% endif %}
                {{ product.description }}<br>
                Valor base: {{ product.base_value }}€<br>
                Início: {{ product.start_date }} | Fim: {{ product.end_date }}
            </li>
            <hr>
        {% endfor %}
    </ul>
    <a href="/">Voltar à Home</a>
</body>
</html>
